body{
  background-color: black;
}
.board{
  display: flex;
}
.botao{
  background-color: rgb(70, 68, 73);
  color: white;
  font-size: 40px;
  font-weight: 900;
  border: solid 4px;
  border-color: rebeccapurple;
}
